<app-header titulo="Card"></app-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title>Bandera de México</ion-card-title>
            <ion-card-subtitle>Legado de nuestros heroes</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwIfVbPAUI5xa7jgLHhzl9fRXoKTQ9eofb9A&s">
            <p>Símbolo de la unidad de nuestros padres y de nuestros hermanos.</p>
            <ion-button extended>México</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

