// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-linkedin: #0A66C2;
	--ion-color-linkedin-rgb: 10,102,194;
	--ion-color-linkedin-contrast: #ffffff;
	--ion-color-linkedin-contrast-rgb: 255,255,255;
	--ion-color-linkedin-shade: #095aab;
	--ion-color-linkedin-tint: #2375c8;
}

.ion-color-linkedin {
    --ion-color-base: var(--ion-color-linkedin) !important;
    --ion-color-base-rgb: var(--ion-color-linkedin-rgb) !important;
    --ion-color-contrast: var(--ion-color-linkedin-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-linkedin-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-linkedin-shade) !important;
    --ion-color-tint: var(--ion-color-linkedin-tint) !important;
}