// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-linkedin: #0A66C2;
	--ion-color-linkedin-rgb: 10,102,194;
	--ion-color-linkedin-contrast: #ffffff;
	--ion-color-linkedin-contrast-rgb: 255,255,255;
	--ion-color-linkedin-shade: #095aab;
	--ion-color-linkedin-tint: #2375c8;

    --ion-color-facebook: #0866FF;
	--ion-color-facebook-rgb: 8,102,255;
	--ion-color-facebook-contrast: #ffffff;
	--ion-color-facebook-contrast-rgb: 255,255,255;
	--ion-color-facebook-shade: #075ae0;
	--ion-color-facebook-tint: #2175ff;

    --ion-color-youtube: #FF0000;
	--ion-color-youtube-rgb: 255,0,0;
	--ion-color-youtube-contrast: #000000;
	--ion-color-youtube-contrast-rgb: 0,0,0;
	--ion-color-youtube-shade: #e00000;
	--ion-color-youtube-tint: #ff1a1a;
}

.ion-color-linkedin {
    --ion-color-base: var(--ion-color-linkedin) !important;
    --ion-color-base-rgb: var(--ion-color-linkedin-rgb) !important;
    --ion-color-contrast: var(--ion-color-linkedin-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-linkedin-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-linkedin-shade) !important;
    --ion-color-tint: var(--ion-color-linkedin-tint) !important;
}

.ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
}

.ion-color-youtube {
    --ion-color-base: var(--ion-color-youtube) !important;
    --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
    --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-youtube-shade) !important;
    --ion-color-tint: var(--ion-color-youtube-tint) !important;
}